body {
  font-family: 'Raleway', sans-sarif;
  background-image: radial-gradient(circle, #636363, #202020), url("https://cadenjohnson.github.io/gator1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover, 800px;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'BrandonGrotesque-Bold', Helvetica, Arial, sans-serif;
  position: relative;
  z-index: 20;
  padding: 30px 0 25px 0;
  width: 100%;
  font-weight: 600;
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
}

h2 {
  display: inline-block;
  text-align: center;
  background-color: #D6B47E;
  padding: 3px 10px;
  margin: 5px;
  font-size: 1.75rem;
  color: white;
}

h3 {
  display: inline-block;
  font-weight: 800;
  background-color: #ffffff;
  text-align: center;
  padding: 10px 25px;
  color: #D6B47E;
}

.menu {
  border: 2px solid;
  text-align: center;
  width: 200px;
}

.container {
  min-width: 775px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.toppic {
  background-image: url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-2/cafe.jpg");

  background-size: cover;
  min-width: 964px;
  min-height: 422px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.supporting-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 0 0 0;
}

.supporting-container div {
  background-size: cover;
  min-width: 450px;
  min-height: 345px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
}

.leftpic {
  background-image: url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-2/events.jpg");
}

.rightpic {
  background-image: url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-2/roast.jpg");
}

#footer {
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.7rem;
  width: 100%;  
}
