body, html {
  height: 100%;
  margin: 0;
  font-family: 'BrandonGrotesque-Bold', Helvetica, Arial, sans-serif;
  background-image: radial-gradient(circle, #303030, #202020);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a:link, a:visited {
  background-color: none;
  color: white; 
  border: 2px solid white;
  padding: 10px 20px;
  text-allign: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  color: black;
  background-color: white;
}

h1 {
  text-transform: uppercase;
  font-family: 'BrandonGrotesque-Bold', Helvetica, Arial, sans-serif;
  position: relative;
  z-index: 20;
  padding: 30px 0 0 0;
  width: 100%;
  font-weight: 600;
  text-align: center;
  font-size: 3rem;
  color: white;
}

h2 {
  font-family: 'BrandonGrotesque-Bold', Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: 500;
  padding: 3px 15px;
  margin: 5px;
  font-size: 1.75rem;
  color: white;
}

h3 {
  display: inline-block;
  font-weight: 800;
  background-color: #ffffff;
  text-align: center;
  padding: 10px 25px;
  color: #D6B47E;
}

h4 {
  font-family: 'BrandonGrotesque-Bold', Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: 500;
  padding: 3px 10px;
  margin: 5px;
  font-size: 1.2rem;
  color: white;
}

.listHorizontal {
  display: flex;
  justify-content: space-around;
  color: #b6d8cf;
  font-size: 1.6rem;
  list-style: none;
  min-height: 55px;
  padding: 0 50px;
}

.profile-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cadenjohnson.github.io/profile.jpeg");
  min-height: 649px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.profile-text {
  text-align: center;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.container {
  padding: 0 0 0 0;
  allign-items: center;
}

.textbox {
  padding: 25px 0 0 0;
  allign-items: center;
}

.widepic-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://cadenjohnson.github.io/window.jpg");
  min-height: 1500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.widepic-text {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.supporting-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 0 0 0;
}
.supporting-container div {
  background-size: cover;
  min-width: 450px;
  min-height: 345px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
}

.leftpic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://cadenjohnson.github.io/tower.jpg");
}

.rightpic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://cadenjohnson.github.io/sign.jpg");
}

#footer {
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.7rem;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
}
